html {
	background: url('img/background.png') center center no-repeat;
	background-size: cover;
	min-height:100%;
}

.hardCoded {
	background: url('img/7-background.png') center center no-repeat;
	background-size: cover;
	min-height:100%;
}

.fullScreen {
	background: url('img/background.png') center center no-repeat;
	background-size: cover;
	min-height:100%;
}

body {
    font-family: Open Sans;
	color: black;
	min-height:100%;
	background-color: transparent !important; 
}

.questionHeader {
	background-color: #00CC33;
	margin-bottom: 75px;
}

#postImages {
    float: left;
    position: absolute;
    left: 40px;
}

#postImages img {
	padding-left: 50px;
	width: 70%;
}

#preImages {
    float: right;
    position: absolute;
    right: 40px;
}
#preImages img {
    width: 100%;
}
#preImages {
	padding-right: 50px;
}

#postInfo {
	
}

#finalScore {
	position: relative;
	top: 150px;
	background-color: #00CC33;
}

.alert {
	display: none;
}

.success {
	background-color: #00CC33 !important;
}

.answers:disabled {
	opacity: 1 !important;
}

.answers img {
	width: 200px;
	height: 150px;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

#container {    
    margin:auto;
    padding: 0 25px 40px 10px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#start {
    display:none;
}

.btn-group label {
	margin-bottom: 5px;
	background-color: #FFFF99;
	color: black;
}

.hidden {
	display: none;
}

.bubble 
{
position: relative;
width: 380px;
height: auto;
padding: 0px;
background: #FFFF99;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #000000 solid 2px;
margin: 0 auto
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 16px 0px;
border-color: #FFFF99 transparent;
display: block;
width: 0;
z-index: 1;
top: -0px;
left: 174px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 17px 1px;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
top: -3px;
left: 173px;
}